<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxin.faas.scheduler.repository.mapper.ContainerMapper">
  <resultMap id="BaseResultMap" type="com.jxin.faas.scheduler.repository.table.Container">
    <!--@mbg.generated-->
    <!--@Table container-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="container_id" jdbcType="VARCHAR" property="containerId" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="fun_id" jdbcType="INTEGER" property="funId" />
    <result column="func_name" jdbcType="VARCHAR" property="funcName" />
    <result column="outtime" jdbcType="TIMESTAMP" property="outtime" />
    <result column="mem_size" jdbcType="BIGINT" property="memSize" />
    <result column="cpu_usage_ratio" jdbcType="DECIMAL" property="cpuUsageRatio" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, container_id, node_id, address, port, "order", fun_id, func_name, outtime, mem_size, 
    cpu_usage_ratio, enabled, create_time, modify_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from container
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from container
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jxin.faas.scheduler.repository.table.Container" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into container (container_id, node_id, address, 
      port, "order", fun_id, 
      func_name, outtime, mem_size, 
      cpu_usage_ratio, enabled, create_time, 
      modify_time, deleted)
    values (#{containerId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{port,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, #{funId,jdbcType=INTEGER}, 
      #{funcName,jdbcType=VARCHAR}, #{outtime,jdbcType=TIMESTAMP}, #{memSize,jdbcType=BIGINT}, 
      #{cpuUsageRatio,jdbcType=DECIMAL}, #{enabled,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jxin.faas.scheduler.repository.table.Container" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into container
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="containerId != null">
        container_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="order != null">
        "order",
      </if>
      <if test="funId != null">
        fun_id,
      </if>
      <if test="funcName != null">
        func_name,
      </if>
      <if test="outtime != null">
        outtime,
      </if>
      <if test="memSize != null">
        mem_size,
      </if>
      <if test="cpuUsageRatio != null">
        cpu_usage_ratio,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="containerId != null">
        #{containerId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="funId != null">
        #{funId,jdbcType=INTEGER},
      </if>
      <if test="funcName != null">
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="outtime != null">
        #{outtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memSize != null">
        #{memSize,jdbcType=BIGINT},
      </if>
      <if test="cpuUsageRatio != null">
        #{cpuUsageRatio,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxin.faas.scheduler.repository.table.Container">
    <!--@mbg.generated-->
    update container
    <set>
      <if test="containerId != null">
        container_id = #{containerId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        "order" = #{order,jdbcType=INTEGER},
      </if>
      <if test="funId != null">
        fun_id = #{funId,jdbcType=INTEGER},
      </if>
      <if test="funcName != null">
        func_name = #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="outtime != null">
        outtime = #{outtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memSize != null">
        mem_size = #{memSize,jdbcType=BIGINT},
      </if>
      <if test="cpuUsageRatio != null">
        cpu_usage_ratio = #{cpuUsageRatio,jdbcType=DECIMAL},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxin.faas.scheduler.repository.table.Container">
    <!--@mbg.generated-->
    update container
    set container_id = #{containerId,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      "order" = #{order,jdbcType=INTEGER},
      fun_id = #{funId,jdbcType=INTEGER},
      func_name = #{funcName,jdbcType=VARCHAR},
      outtime = #{outtime,jdbcType=TIMESTAMP},
      mem_size = #{memSize,jdbcType=BIGINT},
      cpu_usage_ratio = #{cpuUsageRatio,jdbcType=DECIMAL},
      enabled = #{enabled,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-09-03-->
  <delete id="deleteByEnabledAndModifyTimeGreaterThan">
    delete from container
    where enabled=#{enabled,jdbcType=TINYINT} and modify_time <![CDATA[>]]> #{minModifyTime,jdbcType=TIMESTAMP}
  </delete>

<!--auto generated by MybatisCodeHelper on 2020-09-03-->
  <select id="findByEnabledOrderByOrder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from container
    where enabled=#{enabled,jdbcType=TINYINT} order by `order` asc limit 1
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-03-->
  <select id="findByEnabledAndFuncNameOrderByOrder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from container
    where enabled=#{enabled,jdbcType=TINYINT} and func_name=#{funcName,jdbcType=VARCHAR} order by `order` asc limit 1 for update
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-03-->
  <update id="updateByContainerId">
    update container
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=INTEGER},
      </if>
      <if test="updated.containerId != null">
        container_id = #{updated.containerId,jdbcType=VARCHAR},
      </if>
      <if test="updated.nodeId != null">
        node_id = #{updated.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="updated.funId != null">
        fun_id = #{updated.funId,jdbcType=INTEGER},
      </if>
      <if test="updated.funcName != null">
        func_name = #{updated.funcName,jdbcType=VARCHAR},
      </if>
      <if test="updated.memSize != null">
        mem_size = #{updated.memSize,jdbcType=BIGINT},
      </if>
      <if test="updated.cpuUsageRatio != null">
        cpu_usage_ratio = #{updated.cpuUsageRatio,jdbcType=DECIMAL},
      </if>
      <if test="updated.enabled != null">
        enabled = #{updated.enabled,jdbcType=TINYINT},
      </if>
      <if test="updated.order != null">
        order = #{updated.order,jdbcType=INTEGER},
      </if>
      <if test="updated.createTime != null">
        create_time = #{updated.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.modifyTime != null">
        modify_time = #{updated.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.deleted != null">
        deleted = #{updated.deleted,jdbcType=TINYINT},
      </if>
    </set>
    where container_id=#{containerId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="countByNodeId" resultType="java.lang.Integer">
    select count(1)
    from container
    where node_id=#{nodeId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="countByFuncName" resultType="java.lang.Integer">
    select count(1)
    from container
    where func_name=#{funcName,jdbcType=VARCHAR}
  </select>


<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="findContainerIdByEnabledAndModifyTimeGreaterThan" resultType="java.lang.String">
    select container_id
    from container
    where enabled=#{enabled,jdbcType=TINYINT} and modify_time <![CDATA[>]]> #{minModifyTime,jdbcType=TIMESTAMP}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <delete id="deleteByContainerIdIn">
    delete from container
    where container_id in
    <foreach close=")" collection="containerIdCollection" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="findContainerIdByEnabledAndOuttimeLessThan" resultType="java.lang.String">
    select container_id
    from container
    where enabled=#{enabled,jdbcType=TINYINT} and outtime <![CDATA[<]]> #{maxOuttime,jdbcType=TIMESTAMP}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="findContainerIdByNodeIdAndEnabledAndModifyTimeGreaterThan" resultType="java.lang.String">
    select container_id
    from container
    where node_id=#{nodeId,jdbcType=VARCHAR} and enabled=#{enabled,jdbcType=TINYINT} and modify_time <![CDATA[>]]>
    #{minModifyTime,jdbcType=TIMESTAMP}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-09-04-->
  <select id="findContainerIdByNodeIdAndEnabledAndOuttimeLessThan" resultType="java.lang.String">
    select container_id
    from container
    where node_id=#{nodeId,jdbcType=VARCHAR} and enabled=#{enabled,jdbcType=TINYINT} and outtime <![CDATA[<]]>
    #{maxOuttime,jdbcType=TIMESTAMP}
  </select>


</mapper>